<h2>New Celebrities</h2>

<form method= "POST" action="celebrities/create">
  <div class="row gx-3 gy-2 align-items-center" aria-label="Basic outlined example">
    <label class="visually-hidden">Name</label>
    <input class="form-control" type="text" name="name" placeholder="Jane Doe">
    <br>
    <label class="visually-hidden">Occupation</label>
    <input class="form-control" type="text" name="occupation" placeholder="occupation">
    <br>
    <label class="visually-hidden">Catch</label>
    <input class="form-control" type="text" name="catchPhrase" placeholder="catchphrase">
    <br>
    <button class="btn btn-outline-success" type="submit">SUBMIT</button>
  </div>
</form>

<hr>
<a href="/"><button>Back to home</button></a>