<h2>Movies</h2>

{{#each movies}}
<div class="card" style="width: 18rem;">
  <div class="card-body">

    <h5 class="card-title"></h5><a href="/movies/{{this._id}}">Title:{{this.title}}</a></h5>
  
  </div>
  </div>
</div>
{{/each}}

<hr>

<a href="/"><button class="btn btn-outline-success">Back to home</button></a>